<div class='header'>
  <div class='container actions'>
    <div class='row'>
      <div class='col-sm-9 col-md-9'>
        <button class='no-style-btn'>Home</button>
        <button class='no-style-btn'>About</button>
        <button class='no-style-btn'>Events</button>
        <button class='no-style-btn'>Literature</button>
        <button class='no-style-btn'>Contact</button>
      </div>
      <div class='col-sm-3 col-md-3'>
        <a href='/'><img class='logo-img' src='<%= image_path('daarul-hadees-logo.png') %>'></a>
      </div>
    </div>
  </div>
  <div class='brand-name'>
    <h1 class='heading '>دارالحدیث الجامعۃ الکمالیۃ</h1>
  </div>
  <hr class='horizontal-line'>
</div>
<%=stylesheet_link_tag "header"%>