<div id='adsByLocation'>
  <div className='row'>
    <div className='row clear-custom'>
      <div className='ads col-lg-3 col-md-3 col-sm-4 col-xs-12'>
        <div className='laocation-base-ad'>
          <a href='#'>
            <div className='location-card card-cascade narrower'>
              <div className='marker-img'>
                <img src='https://adforest.scriptsbundle.com/wp-content/themes/adforest/images/route.png' alt='Location' />
              </div>
              <div className='view hm-white-slight'>
                <img
                  className='img-responsive'
                  src='https://adforest.scriptsbundle.com/wp-content/uploads/2017/12/california-250x160.jpg'
                  alt='Advertisement'
                />
              </div>
              <div className='card-body'>
                <h3 className='gradient1'>Lahore</h3>
                <h5 className='card-title'> (3 Ads)</h5>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div className='ads col-lg-3 col-md-3 col-sm-4 col-xs-12'>
        <div className='laocation-base-ad'>
          <a href='#'>
            <div className='location-card card-cascade narrower'>
              <div className='marker-img'>
                <img src='https://adforest.scriptsbundle.com/wp-content/themes/adforest/images/route.png' alt='Location' />
              </div>
              <div className='view hm-white-slight'>
                <img
                  className='img-responsive'
                  src='https://adforest.scriptsbundle.com/wp-content/uploads/2017/12/california-250x160.jpg'
                  alt='Advertisement'
                />
              </div>
              <div className='card-body'>
                <h3 className='gradient1'>Lahore</h3>
                <h5 className='card-title'> (3 Ads)</h5>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<%=stylesheet_link_tag 'branches'%>