<div class='container welcome-body'>
  <div class='introduction'>
    <div class="cover-photo">
      <p class='introduction-text'>
      مام انسان آزاد اور حقوق و عزت کے اعتبار سے برابر پیدا ہوۓ ہیں۔ انہیں
      <br>
      مام انسان آزاد اور حقوق و عزت کے اعتبار سے برابر پیدا ہوۓ ہیں۔ انہیں
      <br>
      مام انسان آزاد اور حقوق و عزت کے اعتبار سے برابر پیدا ہوۓ ہیں۔ انہیں
      <br>
      مام انسان آزاد اور حقوق و عزت کے اعتبار سے برابر پیدا ہوۓ ہیں۔ انہیں
      <br>
      مام انسان آزاد اور حقوق و عزت کے اعتبار سے برابر پیدا ہوۓ ہیں۔ انہیں
      <br>
      </p>
      <img class='cover-image' src="<%= image_path('daarul-hadees-cover.jpg') %>" />
    </div>
  </div>
</div>
<div class='departments'>
  <div class='heading-name'>
   <h1 class='heading'>شعبه جات</h1>
  </div>
  <hr class='horizontal-line'>
  <div class='container department-container'>
    <div class='row'>
      <div class='col-xs-6 col-sm-4 col-md-3 col-lg-3'>
        <div class='department-card'>
          <div class='image-container'>
            <img class='department-image' src="<%= image_path('daarul-hadees-cover.jpg') %>">
          </div>
          <div class='info-container'>
            <i class="fa fa-mosque"></i>
            <i class="fa fa-bars"></i>
            جامع مسجد اہلحدیث
            <br>
            کوڑے سیال
          </div>
        <div>
      </div>
    </div>
  </div>
</div>
<%= stylesheet_link_tag "welcome-page"%>